.container{
    width: 100%;
    max-width: 600px;
    padding: 20px !important;
    padding-left: 3.9em !important;
    box-sizing: border-box;
    align-items: left !important;
    text-align: left !important;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.text {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    align-items: left !important;
    text-align: left !important;
}

.resultado {
    display: block;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
    text-align: left;
}

.resultado p {
    margin: 0 0 10px;
    line-height: 1.6;
    color: #333;
    align-items: left !important;
    text-align: left !important;
}

.resultado p:last-child {
    margin-bottom: 0;
    align-items: left !important;
    text-align: left !important;
}

.resultado strong {
    color: #555;
    align-items: left !important;
    text-align: left !important;
}