.container {
    padding: 20px;
    margin-bottom: 5em;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    display: flex;
}

h2 {
    font-size: 36px;
}
h3{
    font-size: 20px;
}
.cardText{
    font-size: 16px !important;
    text-align: left !important;
    font-weight: 400 !important;
}

.description{
    font-size: 16px !important;
    text-align: left !important;
    font-weight: 500 !important;
    color: grey !important;
}

.title{
    margin-bottom: 1em;
    font-weight: 500 !important;
}

.card {
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #0099ff;
}

.cardTitle {
    display: flex;
    align-items: center;
}

.stepNumber {
    width: 35px !important;
    height: 35px !important;
    background-color: #0099ff;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}