.form_control {
    display: flex;
    align-items: center;
  }
  
  .checkbox_label {
    display: flex;
    align-items: center;
    order: 1;
  }
  
  /* Ajuste a margem conforme necessário */
  .checkbox {
    margin-right: 10px;
  }
  